<% meta title: "Home", description: "This field creates an SEO meta description." %>

<div class="">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-indigo-700 sm:text-4xl">
      <span class="block">Get a name for your new startup</span>
      <span class="block">in seconds, powered by AI.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-700">
      A free tool that gives you a cool, new name for your new startup, new side project, or newborn child (not recommended).
    </p>
  </div>
</div>