<% meta title: "Home", description: "This field creates an SEO meta description." %>

<!-- Header and subheader -->
<div class="">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-indigo-700 sm:text-4xl">
      <span class="block">Get a name for your new startup</span>
      <span class="block">in seconds, powered by AI.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-700">
      A free tool that gives you a cool, new name for your new startup, new side project, or newborn child (not recommended).
    </p>
  </div>
</div>

<!-- Generated Name -->
<div class="mx-auto text-center mb-10">
  <p>Generated Startup Name Goes Here...</p>
</div>

<%# <%= form_for(Query.new) do |f| %> 
  <div class="max-w-lg mx-auto mt-5">

    <!-- Form textarea -->
    <div class="mt-1">
      <textarea rows="4" required maxlength="250" name="query[query]" id="text" placeholder="Describe your startup or project idea. For example: 'We create reusable rockets that land themselves...'" class="p-4 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
    </div>

    <!-- Submit button -->
    <div class="text-center">
      <button type="submit" class="mt-5 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        <!-- Heroicon name: mini/arrow-path -->
        <svg class="-ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd"
            d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z"
            clip-rule="evenodd" />
        </svg>

        Generate Name
      </button>
    </div>
  </div>
<%# <% end %>